# Postgres connection string
DB_URL=url
# SQS email queue URL
QUEUE_URL=url
# Anteater API key for WebSoc queries
ANTEATER_API_KEY=key
# Environment tier: development | staging | production
STAGE=development
