# Shared
# ANTEATER_API_KEY=<replace me>

# Scheduler
STAGE=local
DB_URL="postgres://postgres:postgres@localhost:5432/antalmanac"
ANTEATER_API_KEY=replace-me
OIDC_CLIENT_ID=antalmanac-dev
OIDC_ISSUER_URL=https://auth.icssc.club
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=replace-me

# Planner
PUBLIC_API_URL=https://anteaterapi.com/v2/rest/
PORT=8080
PRODUCTION_DOMAIN=http://localhost:3000
# below are stubs of variables/secrets for the PostgreSQL database and Google oauth
# these are necessary for features that require logging in
# DATABASE_URL=<secret>
# ADMIN_EMAILS=["<your email>"]
# SESSION_SECRET=<secret>

# EXTERNAL_USER_READ_SECRET=<secret>
