STAGE=local
DB_URL="postgres://postgres:postgres@localhost:5432/antalmanac"
ANTEATER_API_KEY=replace-me
OIDC_CLIENT_ID=antalmanac-dev
OIDC_ISSUER_URL=https://auth.icssc.club
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=replace-me
