#####################################################################################
# Generated
#####################################################################################

## Packages installed by NPM. https://docs.npmjs.com/about-packages-and-modules
node_modules/

## Vitest coverage output. https://vitest.dev/guide/coverage.html
coverage/

## Turborepo output. https://turbo.build/repo/docs/getting-started/existing-monorepo#edit-gitignore
.turbo/
