#####################################################################################
# Generated
#####################################################################################

## Packages installed by NPM. https://docs.npmjs.com/about-packages-and-modules
node_modules/

## Vitest coverage output. https://vitest.dev/guide/coverage.html
coverage/

## ESLint cache. https://eslint.org/docs/latest/use/command-line-interface#caching
.eslintcache

## Vite build output for React.
build/

## `tsc` output, specified by tsconfig.json
dist/

## CDK output.
cdk.out/

## Logs.
*.log
.pnpm-debug.log*


#####################################################################################
# Operating System
#####################################################################################

## MacOS folder settings. https://en.wikipedia.org/wiki/.DS_Store
.DS_Store

## Windows folder icon settings. https://learn.microsoft.com/en-us/windows/win32/shell/how-to-customize-folders-with-desktop-ini#use-a-desktopini-file
Desktop.ini


#####################################################################################
# Development Environment
#####################################################################################

## Private environment variables.
.env
.env.*
!.env.example

## JetBrains IDE settings.
.idea/

## VSCode settings.
.vscode/
