# desktop configuration files
.DS_Store
desktop.ini

# very big
node_modules/

# outputs
dist/
.svelte-kit/
build/
.turbo/
.vercel/
vite.config.js.timestamp-*

# private
.env
.env.*
credentials.json

# error logs
*.log
