service: antalmanac-backend
org: antalmanac
app: antalmanac
# Create an optimized package for our functions
#package:
#  individually: true

plugins:
  - serverless-offline
  - serverless-domain-manager
#  - serverless-dotenv-plugin # Load .env as environment variables

custom:
  serverless-offline:
    httpPort: 8080

  customDomain:
    domainName: api.antalmanac.com
    certificateName: '*.antalmanac.com'
    basePath: ''
    stage: ${self:provider.stage}
    createRoute53Record: true

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: us-east-1
  apiGateway:
    binaryMediaTypes:
      - 'image/*'

functions:
    app:
      handler: server.handler
      events:
        - http:
            path: /{proxy+}
            method: ANY
            cors: true