table {
  border-collapse: collapse;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 16px;
}
thead {
  position: sticky;
}

th {
  border: 1px solid rgb(222, 226, 230);
  font-size: 12px;
  font-weight: 500;
  padding: 6px 9px 6px 9px;
  color: rgba(0, 0, 0, 0.54);
  text-align: left;
  vertical-align: bottom;
}

td {
  border: 1px solid rgb(222, 226, 230);
  font-size: 14px;
  padding: 6px 9px 6px 9px;
  text-align: left;
  vertical-align: top;
}

tr > td:first-child {
  padding: 0 5px 0 0;
  vertical-align: middle;
}

tr:nth-child(odd) > td:not(:first-child) {
  background-color: #f5f5f5;
}

tr:hover {
  background: #f1f1f1;
}
.no_border {
  border: none;
}

.OPEN {
  color: #00c853;
}

.Waitl {
  color: #1c44b2;
}

.FULL {
  color: #e53935;
}

.multiline {
  white-space: pre;
}
