.gutter {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: col-resize;
}

.gutter::before {
    content: '⋮';
    font-size: 30pt;
    color: white;
}

/* Hide the scrollbars on mobile devices */
@media (max-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }

    * {
        scrollbar-width: none;
    }
}