.gutter {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: col-resize;
}

.gutter::before {
  content: '⋮';
  font-size: 30pt;
  color: white;
}

/**
 * Needed to set the table cells to the correct height...for some reason?
 */
@media (min-resolution: 120dpi) {
  html {
    font-size: 14px;
  }
}

@media (min-resolution: 144dpi) {
  html {
    font-size: 12px;
  }
}
