/**
 * Completely hide the leaflet-routing-control's itenerary.
 */
.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

/**
 */
.leaflet-popup-content {
    margin: unset;
}

/**
 * Remove the forced margin between paragraphs in the leaflet popup.
 */
.leaflet-popup-content p {
    margin: unset;
}

/**
 * Handle styling for the leaflet popup
 */
.leaflet-popup-content-wrapper {
    padding: 0;
    width: 250px;
}
