html {
    font-size: 12px;
    background-color: #f5f6fc;
}

body {
    background-color: #f5f6fc;
    overflow: hidden;
}

html[data-app-theme='dark'],
html[data-app-theme='dark'] body {
    background-color: #1e1e1e;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}