.btnUp {
  position: fixed !important;
  z-index: 9999;
  opacity: 0.9;
  bottom: 0;
  display: block;
  cursor: pointer;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 20px;
  color: yellow;
  background-color: #008cba;
  border: none;
}

.btnUp:focus {
  outline-style: none;
}

.btnUp:active {
  background-color: red;
}

.popup {
  padding-left: 50px;
  width: 300px;
  height: 100px;
  z-index: 1;
  display: block;
  position: fixed;
  visibility: hidden;
  left: 50%;
  overflow: auto;
  border: 1px solid #888;
  background-color: #fefefe;
}

.show {
  visibility: visible;
}
