<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>I cant blieveits buttertesting</title>
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">This is a website to cheer MDC on...I hope you get better soon!! PLEASE BE WELLL!!!!!</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Hi jennifer!!! Look, I'm trying to make a web-app and trying very hard to deploy it!!!</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>this is not good that jennifer's sick</h4>
                <p>this thing is very hard to do...i have been researching how to do this for the past month or so...but its a good skil........AHAHHHHHHH....but this was hard even tho its real ugly</p>
 
                <h4>there should be corgi butss after this...if not then somethings wrong</h4>
                <p>Not exactly sure why this thing is SOOOOOOO ugly....</p>
 
                <h4>this looks so bad</h4>
                <p>Im working on it....</p>
            </div>
 

        </div>
 
        <footer class="footer">
            <p><strong>&copy; The Rango Company 3017</strong></p>
        </footer>
 
    </div>
</body>
 
</html>