<!doctype html>

<html>

<head>
<!-- %2fperl%2fWebSoc; 146-80 -->

<title>AntAlmanac</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script type="text/javascript">// <![CDATA[
        function preloader(){
            document.getElementById("loading").style.display = "none";
            document.getElementById("content").style.display = "block";
        }//preloader
        window.onload = preloader;
// ]]></script>

<style type="text/css">
<!--/* <![CDATA[ */
		/* bodyfontsize */

		.course-list{
		    color:black;
		}

		.course-list table {
		    empty-cells: show;
		}
		/* Blue bar separates course list from next course title */
		.course-list tr.blue-bar td{
		    background-color: navy;
		    padding: 0;
		    height: 4px;
		}
		/* White bar separates college and department comments from next section. */
		.course-list tr.white-bar td{
		    background-color: white;
		    padding: 0;
		    height: 3px;
		}
		.course-list tr.white-bar-thick td{
		    background-color: white;
		    padding: 0;
		    height: 6px;
		}

		.course-list tr.college-title td{
		    border-top: solid white 0.8em;
		    border-bottom: solid white 3px;
		    padding: 0.45em;
		    background-color: black;
		    white-space: nowrap;
		    text-align: center;
		    color: white;
		    font-family: Arial,Helvetica,sans-serif;
		    font-size:130%;
		    font-weight: bold
		}

		.course-list tr.college-comment td,
			.course-list tr.dept-comment td,
			.course-list tr.num-range-comment td,
			.course-list tr.ccode-range-comment td{
		    border: solid navy 3px;
		    padding: 0 1.5em 0 1.5em;
		    background-color: #E7E7E7;
		    text-align: left;
		    color: black;
		    font: 80% Times New Roman,Times,serif;
		}
		.course-list tr.college-comment td{
		    border-color: black;
		}
		.course-list tr.num-range-comment td{
		    background-color: #efe7ef;
		}
		.course-list tr.college-comment p,
			.course-list tr.dept-comment p,
			.course-list tr.num-range-comment p,
			.course-list tr.ccode-range-comment p{
		    margin: 0.5em 0 0.5em 0;
		}

		.course-list tr p.comment-heading {
		    word-spacing: 0.2em;
			/* letter-spacing: 1px; */
		    font-size: 125%;
		    font-weight: bold;
		}

		.course-list tr.dept-title td{
		    border-top: solid white 2px;
		    border-bottom: solid white 3px;
		    padding-left: 0.7em;
		    background-color: navy;
		    white-space: nowrap;
		    color: white;
		    font-family: sans-serif;
		    font-size: 100%;
		    font-weight: bold
		}
		.course-list tr.dept-title a:link, .course-list tr.dept-title a:visited{
		    color: white;
		}

	
		.course-hist-button {
		  padding: 0.75em 1.25em;
		  background-color: whitesmoke;
		  opacity: 0.9;
		  width: 10em;
		  color: black;
		}

		.course-list input{ font-size:63%; }
		.course-list td{ color:black; font-size:70%; }
		.course-list td td{ color:black; font-size:100%; }
		.course-list th{ color:black; font-size:70%; }
		.course-list td.Pct100 { font-size:100%;  }  /* need unscaled size to protect inner tables. */
		.course-list td.CourseTitle { color:black; font-size:100%; }
		.course-list td td.Comments { color:black; font-size:80%;  }
		.course-summary dd{ font-size:80%; }




/* ]]> */-->
</style>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>


    
    <!-- HTML for Registrar Main Banner. -->
    <!-- Insert this after "<body>" tag. -->
    <!-- Used with "/css/banner750all.css" or "/css/banner750.css" -->

    <!--#config timefmt="%A, %B %e, %Y" -->  <!-- Use "man strftime" to see formatting options. -->

    <table>
    	<tr><td>&nbsp;</td><td>
    <div class="title-bar">
	<h3>Poor Peter's Anteater-Almanac(k): Winter 2018</h3>
	<h6>(The AntAlamanac is under heavy construction! This is a preview; please stay tuned!)</h6>
    </div>

    
    <form method="post" action="" >

	<p class="banner-width" style="text-align: left;">
	    <input type="submit" name="Submit" value="Display Web Results" />
	    &nbsp; &nbsp; &nbsp; &nbsp;
	    <a href="/">Reset Menu</a>
	</p>

	<p><font face="Verdana, Helvetica, Arial" size="3" color="black"><b>
		Must Specify One of Breadth, Department or Course Code </b>
				<br />
		*Graphs only available for courses with more than zero units*
	<br />
		*Some lengthy results may take ages*
	</font></p>


	<table cellpadding="0" cellspacing="0" border="0">
	   
		<tr>
		<td bgcolor="#CCCCCC" nowrap="nowrap" width="200px">
		    <font face="Verdana, Helvetica, Arial" size="1" color="Blue"><b> &nbsp;
			General Education:</b>
		    </font>
		</td>
		<td align="left" nowrap="nowrap">
		    &nbsp;<select name="Breadth">
			<option value="ANY" selected="selected">Do not filter for General Education (GE) categories</option>
			<option value="GE-1A">GE Ia: Lower Division Writing</option>
			<option value="GE-1B">GE Ib: Upper Division Writing</option>
			<option value="GE-2">GE II: Science and Technology</option>
			<option value="GE-3">GE III: Social and Behavioral Sciences</option>
			<option value="GE-4">GE IV: Arts and Humanities</option>
			<option value="GE-5A">GE Va: Quantitative Literacy (starting Fall 2012)</option>
			<option value="GE-5B">GE Vb: Formal Reasoning (starting Fall 2012)</option>
			<option value="GE-6">GE VI: Language other than English</option>
			<option value="GE-7">GE VII: Multicultural Studies</option>
			<option value="GE-8">GE VIII: International/Global Issues</option>
			<option value="ANY" style="color: brown;">&nbsp;&nbsp;&nbsp;&nbsp;--- General Education category (prior to Fall 2012) ---</option>
			<option value="GE-5" style="color: #555;">GE V: Quantitative, Symbolic, and Computational Reasoning</option>
			<option value="ANY" style="color: brown;">&nbsp;&nbsp;&nbsp;&nbsp;--- General Education category (prior to Fall 2011) ---</option>
			<option value="GE-9" style="color: #555;">GE IX: Laboratory or Performance</option>
			<option value="ANY" style="color: brown;">&nbsp;&nbsp;&nbsp;&nbsp;--- Breadth categories (prior to Fall 2008) ---</option>
			<option value="1A" style="color: #555;">Breadth Ia: Lower Division Writing</option>
			<option value="1B" style="color: #555;">Breadth Ib: Upper Division Writing</option>
			<option value="2" style="color: #555;">Breadth II: Natural Sciences</option>
			<option value="3" style="color: #555;">Breadth III: Social and Behavioral Sciences</option>
			<option value="4" style="color: #555;">Breadth IV: Humanistic Inquiry</option>
			<option value="5" style="color: #555;">Breadth V: Mathematics and Symbolic Systems</option>
			<option value="6" style="color: #555;">Breadth VI: Language Other Than English</option>
			<option value="7A" style="color: #555;">Breadth VIIa: Multicultural Studies</option>
			<option value="7B" style="color: #555;">Breadth VIIb: International/global Issues</option>
		    </select>
		</td>
	    </tr>

	    <tr>
		<td bgcolor="#E6E6E6" nowrap="nowrap" width="200px">
		    <font face="Verdana, Helvetica, Arial, sans-serif" size="1" color="Blue"><b> &nbsp;
			Department Name:   </b>
		    </font>
		</td>
		<td align="left" nowrap="nowrap">
		    &nbsp;<select name="Dept">
			    <option value=" ALL">Select A Department</option>
			    <option value="AC ENG">AC ENG . . . . . .Academic English and ESL (started 2012 Fall)</option>
			    <option value="AFAM">AFAM . . . . . . . African American Studies</option>
			    <option value="ANATOMY">ANATOMY . . . .Anatomy and Neurobiology</option>
			    <option value="ANESTH">ANESTH . . . . . Anesthesiology</option>
			    <option value="ANTHRO">ANTHRO . . . . . Anthropology</option>
			    <option value="ARABIC">ARABIC . . . . . .Arabic</option>
			    <option value="ART">ART . . . . . . . . .Art (started 2013 Fall)</option>
			    <option value="ART HIS">ART HIS . . . . . .Art History</option>
			    <option  style="color: gray" value="ART STU">ART STU . . . . . Art (until 2013 FSm)</option>
			    <option value="ARTS">ARTS . . . . . . . Arts</option>
			    <option value="ARTSHUM">ARTSHUM . . . . Arts and Humanities</option>
			    <option value="ASIANAM">ASIANAM . . . . Asian American Studies</option>
			    <option value="BANA">BANA . . . . . . . Business Analytics (started 2017 SS2)</option>
			    <option value="BATS">BATS . . . . . . . Biomedical & Translational Science (started '12 Fall)</option>
			    <option value="BIO SCI">BIO SCI . . . . . .Biological Sciences</option>
			    <option value="BIOCHEM">BIOCHEM . . . . Biological Chemistry</option>
			    <option value="BME">BME . . . . . . . . Biomedical Engineering</option>
			    <option  style="color: gray" value="BSEMD">BSEMD . . . . . .Bio Sci &amp; Educational Media Design (until 2017 Wtr)</option>
			    <option value="CAMPREC">CAMPREC . . . .Campus Recreation</option>
			    <option value="CBEMS">CBEMS . . . . . .Chemical Engr and Materials Science</option>
			    <option value="CEM">CEM . . . . . . . . Community and Environmental Medicine</option>
			    <option value="CHC/LAT">CHC/LAT . . . . . Chicano Latino</option>
			    <option value="CHEM">CHEM . . . . . . .Chemistry</option>
			    <option value="CHINESE">CHINESE . . . . .Chinese</option>
			    <option value="CLASSIC">CLASSIC . . . . .Classics</option>
			    <option value="CLT&amp;THY">CLT&amp;THY . . . . .Culture &amp; Theory</option>
			    <option value="COGS">COGS . . . . . . . Cognitive Sciences  (started 2016 Fall)</option>
			    <option value="COM LIT">COM LIT . . . . . Comparative Literature</option>
			    <option value="COMPSCI">COMPSCI . . . . Computer Science</option>
			    <option value="CRITISM">CRITISM . . . . . Criticism</option>
			    <option value="CRM/LAW">CRM/LAW . . . . Criminology, Law and Society</option>
			    <option value="CSE">CSE . . . . . . . . Computer Science and Engineering</option>
			    <option value="DANCE">DANCE . . . . . . Dance</option>
			    <option value="DERM">DERM . . . . . . .Dermatology</option>
			    <option value="DEV BIO">DEV BIO . . . . . Developmental and Cell Biology</option>
			    <option value="DRAMA">DRAMA . . . . . .Drama</option>
			    <option value="E ASIAN">E ASIAN . . . . . East Asian Languages and Literatures</option>
			    <option value="EARTHSS">EARTHSS . . . . Earth System Science</option>
			    <option value="ECO EVO">ECO EVO . . . . Ecology and Evolutionary Biology</option>
			    <option value="ECON">ECON . . . . . . . Economics</option>
			    <option value="ECPS">ECPS . . . . . . . Embedded & Cyber-Physical Systems (started '14 Spg)</option>
			    <option value="ED AFF">ED AFF . . . . . .Educational Affairs (Sch of Med)</option>
			    <option value="EDUC">EDUC . . . . . . . Education</option>
			    <option value="EECS">EECS . . . . . . . Electrical Engineering &amp; Computer Science</option>
			    <option value="EHS">EHS . . . . . . . . Environmental Health Sciences (started 2013 Fall)</option>
			    <option value="ENGLISH">ENGLISH . . . . .English</option>
			    <option value="ENGR">ENGR . . . . . . . Engineering</option>
			    <option value="ENGRCEE">ENGRCEE . . . .Engineering, Civil and Environmental</option>
			    <option value="ENGRMAE">ENGRMAE . . . .Engineering, Mechanical and Aerospace</option>
			    <option value="ENGRMSE">ENGRMSE . . . .Chemical Engr and Materials Science (grads)</option>
			    <option value="EPIDEM">EPIDEM . . . . . .Epidemiology</option>
			    <option value="ER MED">ER MED . . . . . Emergency Medicine</option>
			    <option value="EURO ST">EURO ST . . . . .European Studies</option>
			    <option value="FAM MED">FAM MED . . . . Family Medicine</option>
			    <option value="FIN">FIN . . . . . . . . . Finance (started 2017 Fall)</option>
			    <option value="FLM&amp;MDA">FLM&amp;MDA . . . .Film and Media Studies</option>
			    <option value="FRENCH">FRENCH . . . . . French</option>
			    <option value="GEN&amp;SEX">GEN&amp;SEX . . . . Gender and Sexuality Studies (started 2014 Fall)</option>
			    <option value="GERMAN">GERMAN . . . . .German</option>
			    <option value="GLBL ME">GLBL ME . . . . .Global Middle East Studies (started 2016 Fall)</option>
			    <option value="GLBLCLT">GLBLCLT . . . . .Global Cultures</option>
			    <option value="GREEK">GREEK . . . . . . Greek</option>
			    <option value="HEBREW">HEBREW . . . . .Hebrew</option>
			    <option value="HINDI">HINDI . . . . . . . .Hindi</option>
			    <option value="HISTORY">HISTORY . . . . .History</option>
			    <option value="HUMAN">HUMAN . . . . . .Humanities</option>
			    <option value="HUMARTS">HUMARTS . . . . Humanities and Arts</option>
			    <option value="I&amp;C SCI">I&amp;C SCI . . . . . . Information and Computer Science</option>
			    <option value="IN4MATX">IN4MATX . . . . . Informatics</option>
			    <option value="INT MED">INT MED . . . . . Internal Medicine</option>
			    <option value="INTL ST">INTL ST . . . . . . International Studies</option>
			    <option value="ITALIAN">ITALIAN . . . . . .Italian</option>
			    <option value="JAPANSE">JAPANSE . . . . Japanese</option>
			    <option value="KOREAN">KOREAN . . . . .Korean</option>
			    <option value="LATIN">LATIN . . . . . . . Latin</option>
			    <option value="LAW">LAW . . . . . . . . Law</option>
			    <option value="LINGUIS">LINGUIS . . . . . .Linguistics</option>
			    <option value="LIT JRN">LIT JRN . . . . . . Literary Journalism</option>
			    <option value="LPS">LPS . . . . . . . . .Logic and Philosophy of Science</option>
			    <option value="M&amp;MG">M&amp;MG . . . . . . .Microbiology and Molecular Genetics</option>
			    <option value="MATH">MATH . . . . . . . Mathematics</option>
			    <option value="MED">MED . . . . . . . . Medicine</option>
			    <option value="MED ED">MED ED . . . . . Medical Education</option>
			    <option value="MED HUM">MED HUM . . . . Medical Humanities (started 2016 Fall)</option>
			    <option value="MGMT">MGMT . . . . . . .Management</option>
			    <option value="MGMT EP">MGMT EP . . . . Executive MBA</option>
			    <option value="MGMT FE">MGMT FE . . . . Fully Employed MBA</option>
			    <option value="MGMT HC">MGMT HC . . . . Health Care MBA</option>
			    <option value="MGMTMBA">MGMTMBA . . . Management MBA</option>
			    <option value="MGMTPHD">MGMTPHD . . . .Management PhD</option>
			    <option value="MIC BIO">MIC BIO . . . . . .Microbiology</option>
			    <option value="MOL BIO">MOL BIO . . . . . Molecular Biology and Biochemistry</option>
			    <option value="MPAC">MPAC . . . . . . .Accounting (started 2013 SS1)</option>
			    <option value="MUSIC">MUSIC . . . . . . .Music</option>
			    <option value="NET SYS">NET SYS . . . . .Networked Systems</option>
			    <option value="NEURBIO">NEURBIO . . . . .Neurobiology and Behavior</option>
			    <option value="NEUROL">NEUROL . . . . . Neurology</option>
			    <option value="NUR SCI">NUR SCI . . . . . Nursing Science</option>
			    <option value="OB/GYN">OB/GYN . . . . . Obstetrics and Gynecology</option>
			    <option value="OPHTHAL">OPHTHAL . . . . Ophthalmology</option>
			    <option value="PATH">PATH . . . . . . . Pathology and Laboratory Medicine</option>
			    <option value="PED GEN">PED GEN . . . . Pediatrics Genetics</option>
			    <option value="PEDS">PEDS . . . . . . . Pediatrics</option>
			    <option value="PERSIAN">PERSIAN . . . . .Persian</option>
			    <option value="PHARM">PHARM . . . . . .Medical Pharmacology</option>
			    <option value="PHILOS">PHILOS . . . . . .Philosophy</option>
			    <option value="PHRMSCI">PHRMSCI . . . . Pharmaceutical Sciences</option>
			    <option value="PHY SCI">PHY SCI . . . . . Physical Science</option>
			    <option value="PHYSICS">PHYSICS . . . . .Physics</option>
			    <option value="PHYSIO">PHYSIO . . . . . .Physiology and Biophysics</option>
			    <option value="PLASTIC">PLASTIC . . . . . Plastic Surgery (started 2014 Fall)</option>
			    <option value="PM&amp;R">PM&amp;R . . . . . . .Physical Medicine and Rehabilitation</option>
			    <option value="POL SCI">POL SCI . . . . . Political Science</option>
			    <option value="PORTUG">PORTUG . . . . . Portuguese</option>
			    <option value="PP&amp;D">PP&amp;D . . . . . . . Planning, Policy, and Design</option>
			    <option value="PSY BEH">PSY BEH . . . . .Psychology and Social Behavior</option>
			    <option value="PSYCH">PSYCH . . . . . . Psychology</option>
			    <option value="PUB POL">PUB POL . . . . .Public Policy (started 2013 Wtr)</option>
			    <option value="PUBHLTH">PUBHLTH . . . . Public Health</option>
			    <option  style="color: gray" value="RAD SCI">RAD SCI . . . . . Radiological Sciences (until 2012 Spg)</option>
			    <option value="RADIO">RADIO . . . . . . .Radiology</option>
			    <option value="REL STD">REL STD . . . . . Religious Studies</option>
			    <option value="ROTC">ROTC . . . . . . . Reserve Officers' Training Corps</option>
			    <option value="RUSSIAN">RUSSIAN . . . . .Russian</option>
			    <option value="SOC SCI">SOC SCI . . . . . Social Science</option>
			    <option value="SOCECOL">SOCECOL . . . . Social Ecology</option>
			    <option value="SOCIOL">SOCIOL . . . . . .Sociology</option>
			    <option value="SPANISH">SPANISH . . . . .Spanish</option>
			    <option value="SPPS">SPPS . . . . . . . Social Policy &amp; Public Service (started 2016 Wtr)</option>
			    <option value="STATS">STATS . . . . . . .Statistics</option>
			    <option value="SURGERY">SURGERY . . . .Surgery</option>
			    <option value="TAGALOG">TAGALOG . . . . Tagalog</option>
			    <option value="TOX">TOX . . . . . . . . .Toxicology</option>
			    <option value="UCDC">UCDC . . . . . . . UC Washington DC</option>
			    <option value="UNI AFF">UNI AFF . . . . . .University Affairs</option>
			    <option value="UNI STU">UNI STU . . . . . .University Studies</option>
			    <option value="VIETMSE">VIETMSE . . . . .Vietnamese</option>
			    <option value="VIS STD">VIS STD . . . . . .Visual Studies</option>
			    <option  style="color: gray" value="WOMN ST">WOMN ST . . . . Women's Studies (until 2014 SS2)</option>
			    <option value="WRITING">WRITING . . . . . Writing</option>
			</select>
		</td>
	    </tr>

	    <tr>
		
		<td bgcolor="#CCCCCC" nowrap="nowrap" width="200px">
		    <font face="Verdana, Helvetica, Arial" size="1" color="Blue"><b> &nbsp;
			Course Number(s):   </b>
		</font>
		</td>
		<td align="left" nowrap="nowrap">
		    &nbsp;<input name="CourseNum" size="22" />&nbsp;
		    <font face="Helvetica, Arial, sans-serif" size="1" color="#3152A5"><b>H2A, 5</b> &nbsp; &nbsp; (multiple entries OKAY)</font>
		</td>
	    </tr>

	    <tr>
		
		<td bgcolor="#E6E6E6" nowrap="nowrap" width="200px">
		    <font face="Verdana, Helvetica, Arial" size="1" color="Blue"><b>
		    &nbsp; Course Code(s):   </b>
		    </font>
		</td>
		<td align="left" nowrap="nowrap">
		    &nbsp;<input name="CourseCodes" size="22" />&nbsp;
		    <font face="Helvetica, Arial, sans-serif" size="1" color="#3152A5"><b>14200, 29000-29100</b></font>
		</td>
	    </tr>  
	</table>
    </form>

    <br>
   	
	<div id="loading"><iframe src="https://giphy.com/embed/49eS4H0R1LoOc" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/top-recall-fiat-49eS4H0R1LoOc"></a></p></div>
	<div id="content">
    {% if on_edge %}
    	<p><i>***Graphs are weird or not interactive?***
		<br />***Probably because you're using MS Edge or Internet Explorer***</i></p>
    {% endif %}

    {% if listing %}
    	<table>
    	{% for h,g,dept,num in listing %}
    		{{ h | safe}}
    		{% if on_edge %}
    			<img src= {{ g|safe }} alt="chart title"/>
    		{% else %}
	    		<embed type="image/svg+xml" src= {{ g|safe }} />
	    	{% endif %}
			</td>
		</tr>
		<tr>
			<td colspan=16 align="center">
		<button onclick=getCourseHist("{{dept|safe}}","{{num|safe}}")>Show Past Course Offerings</button>
			</td>
		</tr>
		<tr>
			<td id="{{dept|safe}}{{num|safe}}" colspan=16 align="center">
			</td>
		</tr>
		<tr>
			<td class="loadingDiv" id="{{dept|safe}}{{num|safe}}loading" colspan=16 align="center">
			Please wait as I work hard for you.....any second now.....
			</td>
		</tr>
    	{% endfor %}
    	</table>
    {% endif %}

    {% if record %}
    	{{record|safe}}
    {% endif %}

	    </div>

	<address id="footer-copyright">
	    &copy; 2007 The Regents of the University of California.
	    &nbsp; All Rights Reserved.<br>
	    &copy; 3017 The AntAlmanac.
	    &nbsp; Please don't sue me, I'm broke.
	</address>


</td></tr></table>

<script type="text/javascript">
function getCourseHist(this_dept,this_num) {
    $("#"+this_dept+this_num+"loading").show();
    $("#"+this_dept+this_num).load("/_course_hist #record", {'dept':this_dept, 'num':this_num}, function(){
	$("#"+this_dept+this_num+"loading").hide();
});
}

$(document).ready(function() {
    $(".loadingDiv").hide();
});

</script>

</body>
</html>
