.report-form {
  .MuiPaper-root {
    max-width: 512px;
  }

  .reported-review-content {
    background-color: var(--mui-palette-overlay-overlay2);
    border-radius: var(--mui-shape-borderRadiusLg);
    padding: 12px 16px;
    margin-bottom: 16px;
    font-size: 16px;
  }
}
