/**
 * global styles/overrides
 */

@media (min-resolution: 120dpi) {
  html {
    font-size: 14px;
  }
}

@media (min-resolution: 144dpi) {
  html {
    font-size: 12px;
  }
}

/**
 * completely hide the leaflet-routing-control's itenerary
 */
.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}
