
/**
 * styling react-split @see {@link https://github.com/nathancahill/split/tree/master/packages/splitjs#css}
 */
.gutter {
  /**
   * config to vertically align icon in center
   */
    display: flex;
    justify-content: center;
    align-items: center;

  /**
   * it should also show the resize cursor on hover
   */
    cursor: col-resize;
}
