name: "Pull Request Clean Up"

on:
  pull_request:
    branches: main
    types: [unlabeled, closed]

permissions:
  id-token: write
  contents: read
  deployments: write
  repository-projects: write

jobs:
  clean-up:
    if: |
      (github.event.action == 'unlabeled' && github.event.label.name == 'deploy') ||
      (github.event.action == 'closed' && contains(github.event.pull_request.labels.*.name, 'deploy'))
    runs-on: ubuntu-latest
    env: # env variables for Node.js
      HOSTED_ZONE_ID: ${{ secrets.HOSTED_ZONE_ID }}
      CERTIFICATE_ARN: ${{ secrets.CERTIFICATE_ARN }}
      PR_NUM: ${{ github.event.pull_request.number }}

    steps:
      - name: inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x

      - name: set STAGE variable in environment for next steps
        run: echo "STAGE=pr-${{ github.event.pull_request.number }}-${{ env.GITHUB_HEAD_REF_SLUG }}" >> $GITHUB_ENV

      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          
      - name: checkout antalmanac-cdk
        uses: actions/checkout@v3
        with:
          repository: icssc/antalmanac-cdk
          ref: dev # CHANGE TO MAIN WHEN CDK REPO IS UPDATED
        
      - name: checkout antalmanac
        uses: actions/checkout@v3
        with:
          path: functions/AntAlmanac
      
      - name: install node dependencies cdk
        uses: bahmutov/npm-install@v1

      - name: make empty folder # so cdk doesn't complain
        run: mkdir functions/AntAlmanac/build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: ${{ secrets.ACTIONS_IAM_ROLE }}
          aws-region: us-east-1

      - name: destroy the stack on AWS
        run: npx cdk destroy github-actions-stack-${{ github.event.pull_request.number }} --force

      - name: delete the github deployments and the corresponding environment
        uses: strumwolf/delete-deployment-environment@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: ${{ env.STAGE }}
      
      - name: delete label
        uses: actions-ecosystem/action-remove-labels@v1
        with:
          labels: deploy
      