name: Deploy - Production

on:
    push:
        branches: [main]

env:
    AWS_REGION: ${{ secrets.AWS_REGION }}

    PROD_DB_URL: ${{ secrets.PROD_DB_URL }}
    DEV_DB_URL: ${{ secrets.DEV_DB_URL }}
    MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
    ANTEATER_API_KEY: ${{ secrets.ANTEATER_API_KEY }}
    GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
    GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
    GOOGLE_REDIRECT_URI: ${{ secrets.GOOGLE_REDIRECT_URI }}

jobs:
    deploy-production:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ env.AWS_REGION }}

            - name: Setup Node.js and pnpm
              uses: ./.github/actions/setup-node-and-pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Deploy SST (production)
              env:
                  SST_STAGE: production
              run: |
                  npx sst deploy --stage "$SST_STAGE"
