name: Deploy - Staging

on:
    pull_request:
        branches: [main]
        types: [opened, synchronize, reopened]

env:
    AWS_REGION: ${{ secrets.AWS_REGION }}

    PROD_DB_URL: ${{ secrets.PROD_DB_URL }}
    DEV_DB_URL: ${{ secrets.DEV_DB_URL }}
    MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
    ANTEATER_API_KEY: ${{ secrets.ANTEATER_API_KEY }}
    OIDC_CLIENT_ID: ${{ secrets.OIDC_CLIENT_ID }}
    OIDC_ISSUER_URL: ${{ secrets.OIDC_ISSUER_URL }}
    GOOGLE_REDIRECT_URI: ${{ secrets.GOOGLE_REDIRECT_URI }}

jobs:
    deploy-staging:
        runs-on: ubuntu-latest

        env:
            SST_STAGE: staging-${{ github.event.pull_request.number }}

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ env.AWS_REGION }}

            - name: Setup Node.js and pnpm
              uses: ./.github/actions/setup-node-and-pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Migrate database
              run: pnpm --filter=db migrate

            - name: Deploy SST (staging)
              run: |
                  echo "Deploying stage: $SST_STAGE"
                  npx sst deploy --stage "$SST_STAGE"
