name: Lint

on:
    pull_request:
    workflow_dispatch:

concurrency:
    group: ${{ github.head_ref }}-lint
    cancel-in-progress: true

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Setup Node.js and pnpm
              uses: ./.github/actions/setup-node-and-pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Generate termData
              uses: ./.github/actions/cache-generated-data
              with:
                api-key: ${{ secrets.ANTEATER_API_KEY }}

            - name: ESLint
              run: pnpm --filter antalmanac lint