name: Slash Command Dispatch

on:
    issue_comment:
        types: [created]

jobs:
    slash-command-dispatch:
        runs-on: ubuntu-latest
        steps:
            - name: Dispatch slash commands
              uses: peter-evans/slash-command-dispatch@v4
              with:
                  token: ${{ secrets.SLASH_COMMAND_PAT }}
                  commands: |
                      unlock
                      remove
                  dispatch-type: repository
                  issue-type: pull-request
                  permission: write
