name: 'Stage Pull Request'

on:
  pull_request:
    types: [ opened, synchronize, unlabeled ]

permissions:
  id-token: write
  contents: read
  deployments: write
  pull-requests: write

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  setup_and_build:
    if: (!contains(github.event.pull_request.labels.*.name, 'no deploy'))
    uses: ./.github/workflows/setup_and_build.yaml
    secrets: inherit

  deploy_backend:
    needs: setup_and_build
    if: needs.setup_and_build.outputs.apiSubDomain != 'dev' # only deploy backend if we aren't using default
    uses: ./.github/workflows/deploy_stack.yaml
    secrets: inherit
    with:
      stack_name: antalmanac-backend-staging-${{ github.event.pull_request.number }}

  deploy_frontend:
    needs: setup_and_build
    uses: ./.github/workflows/deploy_stack.yaml
    secrets: inherit
    with:
      stack_name: antalmanac-frontend-staging-${{ github.event.pull_request.number }}

  comment_staging_url:
    needs: [ setup_and_build, deploy_frontend ]
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: comment staging url
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: staging url
          recreate: true
          message: Deployed staging instance to https://staging-${{ github.event.pull_request.number }}.antalmanac.com
