name: Checkout and build AntAlmanac

on:
  workflow_call:
    inputs:
      prod:
        type: boolean
        required: false
        default: false
    outputs:
      apiSubDomain:
        value: ${{ jobs.setup_and_build.outputs.apiSubDomain }}

jobs:
  setup_and_build:
    runs-on: ubuntu-latest
    outputs:
      apiSubDomain: ${{ steps.write-output.outputs.apiSubDomain }}

    steps:
      - name: checkout antalmanac
        uses: actions/checkout@v3

      - name: install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8.6.0

      - name: setup node with pnpm cache
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'pnpm'

      - name: install packages
        run: pnpm install --frozen-lockfile

      - name: check if backend/cdk changed
        uses: dorny/paths-filter@v2
        id: backend-changed
        with:
          filters: |
            backend:
              - 'apps/cdk/**'
              - 'apps/backend/**'

      - name: set api subdomain
        run: |
          if [ ${{ inputs.prod }} == true ]; then
            true
          elif [ ${{ steps.backend-changed.outputs.backend }} == true ]; then
            echo "apiSubDomain=staging-${{ github.event.pull_request.number }}" >> $GITHUB_ENV
          else
            echo "apiSubDomain=dev" >> $GITHUB_ENV
          fi

      - name: build project
        env:
          HUSKY: 0
          # frontend env variables
          VITE_ENDPOINT: ${{ env.apiSubDomain }}
          NODE_ENV: ${{ env.nodeEnv }}
          # backend env variables
          HOSTED_ZONE_ID: ${{ secrets.HOSTED_ZONE_ID }}
          CERTIFICATE_ARN: ${{ secrets.CERTIFICATE_ARN }}
          MONGODB_URI_PROD: ${{ secrets.MONGODB_URI_PROD }}
          PR_NUM: ${{ github.event.pull_request.number }}
          # cdk env variables
          API_SUB_DOMAIN: ${{ env.apiSubDomain }}
          # for Turbo caching
          TURBO_API: ${{ vars.TURBO_API }}
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: "team_antalmanac"

        run: npx turbo build

      - name: write env variables to output
        id: write-output
        run: echo "apiSubDomain=$apiSubDomain" >> $GITHUB_OUTPUT

      - name: upload cdk artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}-cdk
          path: apps/cdk/cdk.out
          retention-days: 1

      - name: upload website artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}-website
          path: apps/antalmanac/build
          retention-days: 1
