name: Test

on:
    pull_request:
        types:
            - opened
            - synchronize
            - unlabeled

permissions:
    id-token: write
    contents: read
    deployments: write
    pull-requests: write

concurrency:
    group: ${{ github.head_ref }}-test
    cancel-in-progress: true

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Install pnpm
              uses: pnpm/action-setup@v2

            - name: Setup Node.js with pnpm cache
              uses: actions/setup-node@v3
              with:
                  node-version: lts/hydrogen
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Build
              env:
                  # Tooling settings.
                  HUSKY: 0
                  NODE_ENV: staging

                  # Application information.
                  MONGODB_URI_PROD: ${{ secrets.MONGODB_URI_PROD }}
                  MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
                  VITE_TILES_ENDPOINT: ${{ secrets.VITE_TILES_ENDPOINT}}
                  ANTEATER_API_KEY: ${{ secrets.ANTEATER_API_KEY }}

                  # Turborepo credentials.
                  TURBO_API: ${{ vars.TURBO_API }}
                  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
                  TURBO_TEAM: team_antalmanac

                  # AWS credentials.
                  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  AWS_DEFAULT_REGION: us-east-1

                  # Information used by AWS CDK stacks.
                  HOSTED_ZONE_ID: ${{ secrets.HOSTED_ZONE_ID }}
                  CERTIFICATE_ARN: ${{ secrets.CERTIFICATE_ARN }}
                  PR_NUM: ${{ github.event.pull_request.number }}

              run: pnpm build

            - name: Generate termData for tests
              env:
                  HUSKY: 0
                  NODE_ENV: staging
                  ANTEATER_API_KEY: ${{ secrets.ANTEATER_API_KEY }}
              run: pnpm --filter=antalmanac fetch-term-data

            - name: Test
              run: pnpm test run
